# A6 Final Project Report -- Gender Diversity in Movies

### Submitted by : Vamsy Atluri

## Introduction

In today's world 2 of the most widely scrutinized sectors of our society are the movies and tech firms. While they are widely different fields and usually have no relation to each other, one area where they shread a common thread is gender diversity or more accurately the lack of it.

The movie industry have been criticized for gender issues over the years. But the outroar is ususally limited to the most high profile movies and productions. But acting as a profession is not limited to just movies and just Hollywood. International movies, TV shows, short movies are also an important part of this industry. This project is an attempt to look just at the numbers and see how diverse are movies in terms of the gender of people playing roles on the screen.

The results are then compared against diversity numbers released by 6 top tech companies (Facebook, Amazon, Apple, Microsoft and Google) for the year of 2017 to see how these two fields stack up. This comparison throws up some insights that are quite surprising and eye opening.

## Background

When it comes to movies and gender, the Bechdel test is perhaps the most commonly known and accepted way of determining how much independent representation and interaction females have. This project, which looks only at the numbers of credited actors/actresses, is not that comprehensive and the results are not a conclusive indication of the full picture. But augmented with other inputs (like the bechdel test), my hope is it will help build a clearer picture. The core question being asked here is -- How gender diverse are movies solely in terms of actors on the screen? 

Under pressure for their lack of gender diversity, major companies in the tech sector have been releasing their workforce diversity information over the last few years showing how they have been improving their diversity over the years. But hiring a lot of females interns for the summer or junior employees is given the same weight as having a management structure full of males. I try to look into how these two fields' statisctics would compared if movies are afforded the same leeway as these tech firms.

Once again, I am not proposing that is a very comprehensive analysis since first of all, it is restricted only to actors and actresses and not any other crew member. So the results of this analysis must be taken with a pinch of salt, while being open to interpretation.

## Data and Methods

This project looks at gender diversity in movies over the past 118 years (1910-2018). The data used is provided by IMDB, and contains all the data on their website with respect to movies, release date, actors and actresses in the movie etc in the form on zipped tsv files. Due to the size being > 100MB, I have made a subset of the data available in the data folder of this repo as tsv files. These files can be used to reproduce the analyis done in this project.

The most ideal case would have been to get gender related information about all the crew members who work on a movie, but IMDB does not store gender information about any person. The only way to identify actors vs. actresses is to depend on the lsiting which classifies them either as 'actor' or 'actress'. This was a potential roadblock both due to lack of non-binary gender representation and also lack of info for people working behind the scenes.

But delving more in IMDB's policies, I realized that IMDB allows people to create their profile and add themselves to the credits of movies they acted in (subject to verification). And the most interesting thing was that it identifies them by their preferred gender. While not optimal, it seemed more ethical to work with this data because the gender information I would be getting about a person was not what IMDB chooses but what the person choose him/herself.

Coming to the diversity data in tech companies, I manually read the diversity reports publicly published by the companies for the year of 2017 and stored these values in an array for the purposes of comparison.

The overall number of records in the source data considered were 1.6M movies, 8.9M actors and actresses, and nearly 31M records of the crew details. A lot of this was filtered out to keep details of only actors and actresses, mainly because there is no gender information available for other crew members like directors, producers, cinematographers etc.

The three major tables considered -- movie_title_details, actor_details and movie_crew_details. Python libraries pandas, numpy and matplotlib were used for data analysis and visualization. This section shows how to read the data, show the structures and columns of the tables, analyze the data and visualize the results.

#### Importing the necessary libraries, and setting the warnings to ignore

In [7]:
import gzip
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#### Reading the data

Each dataset is contained in a gzipped, tab-separated-values (TSV) formatted file in the UTF-8 character set. The first line in each file contains headers that describe what is in each column.

Note: Using gzip.open is not necessary unless using the original data files from the IMDB website. **If using the tsv files from the 'data' folder in this repo use the command ```table = pd.read_table('file_path')``` where file_path is the local path of the tsv file in your system.**

In [ ]:
movie_title_details = pd.read_table(gzip.open("title.basics.tsv.gz"))
actor_details = pd.read_table(gzip.open("name.basics.tsv.gz"))
movie_crew_details = pd.read_table(gzip.open("title.principals.tsv.gz"))

#### Dimensions of the data

The ```.shape``` attribute gives us the dimensions of the tables as (number_of_rows,number_of_columns).

In [ ]:
movie_title_details.shape

As seen, there are 5,453,946 movies overall to consider.

In [ ]:
actor_details.shape

As seen, there are 8,996,619 records about professionals registered on IMDB overall to consider.

Note: I have named the dataframe as actors because they are the primary section am interested in. But the file ```name.basics.tsv``` contains the information for all the people irrespective of their primary occupation. The entries will be filtered out to include only actors/actresses.

In [ ]:
movie_crew_details.shape

The ```title.principals.tsv``` lists all the related professionals credited for a particular movie. Essentially, it brings the previous two tables together. As seen, there are 31,132,240 such entries overall to consider.

#### Structure and details about the data

The ```title.basics.tsv.gz``` file, which is stored in the ```mvoie_title_details``` dataframe lists all the movies in the IMDB database, along with the movie type, year (release year for movies, start and end year for TV shows), runtime and genres. 

While the title, genre etc. are not required for my analysis the ```tconst``` column which is an unique identifier for each movie and the year columns are the most relevant.

In [ ]:
movie_title_details.head()

Note :  A ‘\N’ is used to denote that a particular field is missing for that title/name.

With regard to the ```actor_details``` dataframe, initially my idea was to use the primaryProfession column to filter only entries that have actor/actress as the first entry. Each entry has a unique identifier ```nconst```.

But this table proved redundant since the ```movie_crew_details``` dataframe had a identifier that served the same purpose. As of now this table has not been used any further. But this table can be used in the future to do a more layered analysis since it has details about the ages of the professionals on IMDB.

In [ ]:
actor_details.head()

As said earlier, the ```title.principals.tsv``` file brings the two other files above together by listing each movie and its crew as a list of entries with the unique identifiers tconst and nconst identifying each tuple.

In [ ]:
movie_crew_details.head()

#### Data Cleaning and Filtering

##### Movies -- A few decisions with regard to which titles to consider in this analysis:

Titles with missing values for runtime were not considered.

In [ ]:
movie_title_details = movie_title_details[movie_title_details.runtimeMinutes != '\\N']

Movies with runtime less than 20 mins were not considered. Most of the short movies and sit-com episodes were covered with this runtime. In this step we also create a ```new dataframe movies``` which is the truncated version of the original movie_title_details table.

In [ ]:
intruntimes = pd.to_numeric(movie_title_details['runtimeMinutes'], errors='coerce')
plus20 = intruntimes>20
movies = movie_title_details[plus20]

Videogames credits were not considered.

In [ ]:
movies = movies[movies.titleType != 'videoGame']

Titles rated adult were not considered.

In [ ]:
movies = movies[movies.isAdult != 1]

The pruned movies table is shown below.

In [ ]:
movies.head()

Finally, the columns that are not requisite for the purposes of the analysis are dropped as well.

In [ ]:
movies = movies.drop(['genres','isAdult','originalTitle'], axis=1)

The index is then reset using the ```reset_index()``` function.

In [ ]:
movies = movies.reset_index(drop=True)

As seen below the number of movies considered drops down to just over a million.

In [ ]:
movies.shape

##### Movie Crew details -- Since only actors and actresses are being considered, the rest of the categories in this table can be ignored.

The movie_crew_details tables' categories are shown below

In [ ]:
np.unique(movie_crew_details.category)

Creating a ```new dataframe crew``` that only has the enties related to actors and actresses:

In [ ]:
crew = movie_crew_details[(movie_crew_details.category == 'actor') | (movie_crew_details.category == 'actress')]

In [ ]:
crew.shape

We see that the number of records has dropped to 12.8 millions.

Again, we reset the index of the dataframe

In [ ]:
crew = crew.reset_index(drop=True)

We can verify the categories to be the ones needed

In [ ]:
np.unique(crew.category)

In [ ]:
crew.head()

Since we don't need the job, characters and ordering tables we drop them from the crew dataframe.

In [ ]:
crew = crew.drop(['job','characters','ordering'], axis=1)

In [ ]:
crew.head()

#### Data Aggregation

First, we create a new dataframe that effectively does an inner join of the movies and crew tables on the common ```tconst``` identifier that uniquely identifies every movie. This is done using the ```pandas merge``` function. The resulting table is stored in the ```overall dataframe```.

In [ ]:
overall = pd.merge(movies, crew, on='tconst')

In [ ]:
overall.head()

As we see above, each movie title is grouped along with the actors and actresses credited for it. FOr instance, the movie 'Miss Jerry' had an actress identified by nconst = 'nm0063086' and actor with nconst = 'nm0183823'.

We now can drop all the non-requisite columns from the overall dataframe.

In [ ]:
overall = overall.drop(['titleType','runtimeMinutes','nconst','endYear','primaryTitle'], axis=1)

Now, when we try to make sure that the 'startYear' columns have integer entries, we see that the .dtype command shows the columns as belonging to object type. This means that there are mixed datatype entries in this column (some as strings, some as integers).

In [ ]:
overall.startYear.dtype

So we convert all the entries to numeric which is easier for further analysis. But before we can do that we need to eliminate any missing entries which are marked as '\N'.

In [ ]:
overall = overall[overall.startYear != '\\N']
overall['startYear'] = pd.to_numeric(overall['startYear'])

In [ ]:
overall.head()

In [ ]:
overall.shape

Thus, for our final analysis we have a dataframe of 3.3M entries. To split this and get separate table for actors and actresses we first create three empty dataframes.

In [ ]:
numbers = pd.DataFrame()
males = pd.DataFrame()
females = pd.DataFrame()

Grouping by (year,category) will give us the tuples for each year and actor/actress combination. To do this, we use the ```pandas groupby``` function.

In [ ]:
numbers = overall.groupby(['startYear','category']).size().reset_index(name='counts')

In [ ]:
numbers.head()

Now we split this dataframe into two dataframes, one for actors, one for actresses.

In [ ]:
actors = numbers[numbers.category=='actor']
actresses = numbers[numbers.category=='actress']

In [ ]:
actors.head()

In [ ]:
actresses.head()

Since we no longer need the category column, we drop it and also reset the index on both these dataframes.

In [ ]:
actors = actors.drop('category', axis=1)
actors = actors.reset_index(drop=True)

actresses = actresses.drop('category', axis=1)
actresses = actresses.reset_index(drop=True)

In [ ]:
actors.head(10)

In [ ]:
actresses.head(10)

We see very low numbers for the years before 1910 and in some cases no entries for actresses in some years. Hence we eliminate those years and consider the numbers from 1910 and afterwards. After dropping the tables we also reste the index.

In [ ]:
actors = actors.drop([0,1,2,3,4,5,6,7])
actresses = actresses.drop([0,1,2,3,4,5,6])

actors = actors.reset_index(drop=True)
actresses = actresses.reset_index(drop=True)

In [ ]:
actors.tail()

In [ ]:
actresses.tail()

To not include future unreleases movies which are sometimes credited early on the IMDB website for marketing purposes, we will drop the entries for years after 2017.

In [ ]:
actors = actors.drop([108,109,110])
actresses = actresses.drop([108,109,110])

actors = actors.reset_index(drop=True)
actresses = actresses.reset_index(drop=True)

In [ ]:
actors.shape

In [ ]:
actresses.shape

Another important statistic we need to get better understanding of the data is the number of actors/actresses as a percentage of the total number credited. We will derive those in the following steps.

First, we create an empty dataframe percentages for this purpose. Then we add the years, number of actors and number of actresses as columns using the actors and actresses dataframes.

In [ ]:
percentages = pd.DataFrame()

#getting years and adding them to the empty dataframe
years = pd.DataFrame(actors.startYear)
percentages = percentages.append(years)

#creating dataframes of the actor and actress counts.
num_actors = pd.DataFrame(actors.counts)
num_actors.columns = ['num_actors']

num_actresses = pd.DataFrame(actresses.counts)
num_actresses.columns = ['num_actresses']

#adding the dataframes created above to the percentages dataframe.
percentages = percentages.join(num_actors)
percentages = percentages.join(num_actresses)

Using these columns, we add new columns that are the sum of the number of actors and actresses, percentage of actors and percentage of actresses.

In [ ]:
percentages['sum'] = percentages['num_actors']+percentages['num_actresses']
percentages['actor_percentage'] = ((percentages['num_actors']/percentages['sum'])*100)
percentages['actress_percentage'] = ((percentages['num_actresses']/percentages['sum'])*100)

In [ ]:
percentages.head()

#### Corporate Companies Diversity Data

Physically collecting the publically released data by five major companies on their websites, I have created two dataframes to store these values. One of them stores the gloabal workforce diversity percentages, while the other stores only tech workforce diversity percentages. 

(Note: Amazon releases only global workforce statistics, hence tech workforce diversity percentages are not available).

In [ ]:
males_percent_global = [64,60,68,73.4,74.5]
females_percent_global = [36,40,32,26.6,25.5]
index = ['facebook', 'amazon', 'apple', 'microsoft', 'google']
global_percent = pd.DataFrame({'men': males_percent_global,'women': females_percent_global}, 
                                   index=index)
global_percent

In [ ]:
males_percent_tech = [78,0,77,81.5,78.6]
females_percent_tech = [22,0,23,18.5,21.4]
tech_only_percent = pd.DataFrame({'men': males_percent_tech,'women': females_percent_tech},
                                 index=index)
tech_only_percent

So now we have the number of actors and actresses credited in a movie from the year 1910 - 2017, along with their percentages as well the percentages showing diversity in tech companies. We can now visualize the results.

### Findings and Discussion

In this section, we will use the data from previous sections, visualize it to find trends and answers to our questions and discuss what these findings mean.

For visualization purposes, we create an array containing the years being considered. This will be used as X-Axis for the graphs.

In [ ]:
years = np.arange(1910,2018,1)
years = years.reshape(108,1)

##### Visualization 1 - Time series graph of total number of actors vs actresses in credited movie roles.

In [ ]:
plt.figure(figsize=(20,10))

plt.plot(years, actors.counts)
plt.plot(years, actresses.counts)

plt.legend(['actors', 'actresses'], loc='upper left')
plt.title('Total number of Actors vs Actresses in Credited Movie Roles (1910-2017)', fontsize=20)
plt.xlabel('year', fontsize=18)
plt.ylabel('number of credited actors/actresses', fontsize=16)

plt.show()

###### Finding 1 : As expected, we see that the number of actors in the industry has always been higher than the number of actresses. The gap between the two looks to be highest just before 1960. While the situation looked to be improving for a while, the gap appears to have suddenly blown up in the last decade or so -- with a highly disproportionate number of actors dominating the scene as compared to actresses.

##### Visualization 2 - Time series graph of percentage of actors vs actresses in total credited movie roles per year.

In [ ]:
plt.figure(figsize=(20,10))

plt.plot(years, percentages.actor_percentage)
plt.plot(years, percentages.actress_percentage)

plt.legend(['actors', 'actresses'], loc='upper left', fontsize=10)
plt.title('Percentage of Actors vs Actresses in Total Credited Movie Roles per Year (1910-2017)', fontsize=20)
plt.xlabel('year', fontsize=18)
plt.ylabel('% of credited actors/actresses', fontsize=16)

plt.grid()
plt.show()

###### Finding 2: Comparing the percentages gives a much cleare picture of how gender diversity has played out in the movies. The lowest percentage of actresses in the industry appears to be just before 1960 with a noticeable increase in the years following. There also appears to be a spike post 1990.

Digging into this finding more, we realize that mid and late 1960s were a period of breakthroughs in women's rights and feminist movements not only in the USA but all over the world. In 1963, The Equal Pay Act was passed by Congress which gave equal wages for equal work, regardless of the race, color, religion, national origin or sex of the worker. In 1964, the Title VII of the Civil Rights Act was passed which prohibited employment discrimination on the basis of race, color, religion, national origin, or sex. These and many other laws passed in different countries, along with the feminist movement gathering momentum could have had an impact on the movie indutry resulting in more actresses on the screen in the post 1960s period.

##### Visualization 3 - Gender diversity percentages, movies vs. tech firms (All time till 2017).

Taking the gender diversity percentages from 1910 to 2017 from movies and comparing them to the statistics released by companies (which were initially saved in the ```global_percent``` dataframe.

Note: The reason all the years are being compared here is that when companies release their diversity statistics, it is not only for the number of hires they make in that year. It is the total diversity as of the current year, which includes all the people working for them irrespective of when they were hired. And since yearly percentages in movies would only reflect actors/actresses 'hired' in that particular, it would be a fair comparison only if all the years statistics were taken into account.

To get the total percentages, we use the percentages dataframe and calculate the totals:

In [ ]:
percentages.head()

In [ ]:
num_actors_total = np.sum(percentages.num_actors)
num_actresses_total = np.sum(percentages.num_actresses)
total_all = num_actors_total+num_actresses_total

Now this can be used to calculate percentage:

In [ ]:
males_percent_2017 = (num_actors_total/total_all)*100
females_percent_2017 = (num_actresses_total/total_all)*100

We take the percentages from above and add them to the ```global_percent``` dataframe.

In [ ]:
global_percent.loc['movies'] = [males_percent_2017,females_percent_2017]

In [ ]:
ax = global_percent.plot(kind='bar', title ="Gender Diversity in Movies vs. Tech companies (All time till 2017)", 
             figsize=(20, 10), legend=True, rot=0, fontsize=10)
ax.set_ylabel("percentage", fontsize=12)
plt.grid()
plt.show()

###### Finding 3 - We see that by comparing 2017 alone, gender diversity in movies while not very high was still highly comparable to that of Amazon while significantly better than Facebook, Apple, Microsoft and Google. This was a little suprising for me because I would have expected movies to do a little worse than the tech firms, not better than most of them.

But this comes with the caveat that though the diversity numbers released by companies include the entire workforce from the day they were founded, none of the companies were founded before 1975 (Microsoft is the oldest while the more recent ones like Google and Facebook were founded in the 2000s). We have seen the world and employment trends change so comparing the movies with stats from years as back as 1910 which was avery different time seems a little unfair. Which is why in the next visualization we will use movie data for movies only after 1975.

##### Visualization 4 - Gender diversity percentages, movies vs. tech firms (1975 - 2017).

Here, we will be doing the same analysis as above but instead of using data from 1910 - 2017, we will only be using data from 1975 since that is when the first of the tech companies in question was founded. It must be noted that there is a little leeway to companies founded later in this comparison.

We first take a subset of the percentages dataframe to get data for years after 1975.

In [ ]:
percentages_75 = percentages[percentages.startYear > 1974]
percentages_75 = percentages_75.reset_index(drop=True)
percentages_75.head()

Similar to the previous visualization, we calculate the total statistics, but this time from the ```percentages_75``` dataframe.

In [ ]:
num_actors_total_75 = np.sum(percentages_75.num_actors)
num_actresses_total_75 = np.sum(percentages_75.num_actresses)
total_all_75 = num_actors_total_75+num_actresses_total_75

Now this can be used to calculate percentage:

In [ ]:
males_percent_2017_75 = (num_actors_total_75/total_all_75)*100
females_percent_2017_75 = (num_actresses_total_75/total_all_75)*100

We take the percentages from above and add them to the ```global_percent``` dataframe.

In [ ]:
global_percent.loc['movies'] = [males_percent_2017_75,females_percent_2017_75]

In [ ]:
ax = global_percent.plot(kind='bar', title ="Gender Diversity in Movies vs. Tech companies (1975 - 2017)", 
             figsize=(20, 10), legend=True, rot=0, fontsize=10)
ax.set_ylabel("percentage", fontsize=12)
plt.grid()
plt.show()

###### Finding 4 - There is not any drastic difference between the gender diversity percentages in movies when comparing the post 1975 period to the overall time period from 1910. The equation remains the same with Amazon showing slightly better diversity statistics while the others show  lower percentages of diversity when compared to movies.

##### Visualization 5 - Comparing movies to only tech-force diversity (1975-2017)

Movies have a huge number of people working to bring the end product to the public. But perhaps the most important, most highly compensated section of the movies workforce is the actors and actresses. Similarly, the most important and highly compensated section of the tech industry are the tech workers. Apart from Amazon, all the other companies considered in this analysis release figures showing diversity in tech as opposed to global diversity. How will these statistics compare against each other?

Since we have already calculated the percentages for movies, we just append them to the ```tech_only_percent``` dataframe which has the values for the companies diversity in tech.

In [ ]:
tech_only_percent.loc['movies'] = [males_percent_2017_75,females_percent_2017_75]

In [ ]:
ax = tech_only_percent.plot(kind='bar', 
                            title ="Gender Diversity in Movies vs. Tech companies (Tech Workers only, 1975 - 2017)", 
                            figsize=(20, 10), 
                            legend=True, 
                            rot=0, 
                            fontsize=10)
ax.set_ylabel("percentage", 
              fontsize=12)
plt.grid()
plt.show()

###### Finding 5 - As seen above, if we compare gender diversity in movies in terms of actors/actresses to only tech force diversity in the tech industry then the movies outrank them all. Movies have around a 60/40 split leaning more towards actors, but the closest any tech firm comes is Apple with a mere 23% of their tech force comprised of females.

### Limitations and Future Work

An obvious limitation that was stated at the beginning is that this is a very limited scope analysis which compares only the numbers of employed actors/actresses with the number of male/female employees in tech companies. For a more comprehensive analysis, data like the gender information of non-acting members of the movie industry, gender information for non-binary people would help enrich the quality of this analysis.

If this information could be obtained from the companies and/or the movie industry then this analysis could be extended and built on for better understanding the diversity in both the industries.

Another limitation of the analysis is equal weight for every actor/actress irrespective of the length of their roles in a acting credit. While this is a little negated by the equal weight that companies give to a summer intern and a corporate head, it is true that in some cases simply more actresses on a screen would not be indicative of a more gender diverse environment. It would be complicated but combining movies scripts and the character names given in the IMDB dataset, we can estimate the number of lines spoken by a character and estimate that as a percentage of the whole script. This is also a possible future work on this analysis.

### Conclusion

The initial research question was how does gender diversity in movies stack up against diversity in the top tech companies. 

After this analysis, the first thing I wish to conclude is that it's tough to compare the two sectors, specially without more information of people behind the camera. Actors/actresses are a very small percentage of the movie industry and might not be representative of the industry at large.

But if we consider only actors/actresses, there seems to be more diversity in the movies than tech companies specially when comparing only the tech working force.

I hope this analysis has helped you see how data science skills can be used to explore a very human-centered topic of gender diversity which is becoming more and more important over the years. Humans have existed for hundreds of thousands of years and women got basic rights like the right to vote just over a hundred years ago. Analytics like these should serve as a reminder of how far we have to go before we achieve true equality.

### References

A list of references I used while working on this project:

[Facebook's diversity report](https://newsroom.fb.com/news/2018/07/diversity-report/)

[Apple's](https://www.apple.com/diversity/)

[Google's diversity report](https://diversity.google/annual-report/)

[Microsoft's diversity report](https://www.microsoft.com/en-us/diversity/inside-microsoft/default.aspx)

[Amazon's diversity report](https://www.amazon.com/b?ie=UTF8&node=10080092011)

[IMDB data details](https://www.imdb.com/interfaces/)

[IMDB data download](https://datasets.imdbws.com/)

https://womenintvfilm.sdsu.edu/files/2014-15_Boxed_In_Report.pdf

https://informationisbeautiful.net/visualizations/diversity-in-tech/

http://poly-graph.co/bechdel/

https://www.imdb.com/interfaces/

https://datasets.imdbws.com/

https://help.imdb.com/article/contribution/filmography-credits/cast-acting-creditguidelines/GH3JZC74FVYKKFMD#gender

https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html